@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

:root{
    --Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Blue-850: hsl(228, 56%, 26%);
    --Blue-950: hsl(229, 57%, 11%);
    --Gradient: hsl(6, 100%, 80%) , hsl(335, 100%, 65%);
    --White:white;
    --Black:black;
}

body{
     background:url(bg-desktop.png);
    background-repeat:no-repeat;
    background-size: contain;
    background-color:var(--Blue-950);
   background-position: bottom;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    margin:0;
    padding:0;
    font-family:'Raleway',sans-serif;
}
.sr-only{
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0,0,0,0);
white-space: nowrap;
border: 0;
}
.card-header{
    display:flex;
    flex-direction:row;
    background-color:var(--Blue-850);
    width:18rem;
    height:70%;
    padding:2.5rem;
    gap:2rem;
    flex-wrap:wrap;
    border-radius:1rem 7rem 1rem 1rem;
    margin-top:1.5rem;
    position:relative;
}
.fylo-logo{
    width:100%;
   }
.logo{
    width:100%;
    padding-bottom:3rem;
}
.fylo{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-end;
    gap:1rem;
    position:relative;
}
.icon{
    background-color:var(--Black);
    padding:0.75rem;
    border-radius:0.50rem;
}
.storage-details{
    width:33rem;
    height:50%;
    background-color:var(--Blue-850);
    border-radius:0.5rem;
    padding: 2rem;
    }

    .storage-text{
        color:var(--Grayish-Blue)
    }
    .used-unit,.used-value,.progress-min,.progress-max{
        color:var(--White);
        
    }
    .used-value{
        font-weight:700;
    }
    .progress-min,.progress-max,.used-unit,.remaining-label{
        font-weight: 600;
    }
    
.storage-remaining{
    position:absolute;
    top:1rem;
    background-color:var(--White);
    right:1.5rem;
   border-radius:0.5rem 0.5rem 0rem 0.5rem;
    padding:1rem 1.5rem;
    display:flex;
    flex-direction:row;
    align-items:center;
    width:9rem;
    justify-content:space-around;

}
.remaining-value{
    color:var(--Black);
    font-weight:800;
    display:flex;
    font-size:2rem;
}

.remaining-label{
    color:var(--Grayish-Blue)
}
.storage-card{
    display:flex;
    flex-direction:row;
    align-items:center;
}

.arrow{
width:0;
height:0;
border-left:20px solid transparent;
border-right:0px solid transparent;
border-top:15px solid var(--White);
border-bottom-left-radius: 5px;
position:absolute;
right:0;
bottom:-10px;
}
.percentage-track{
    width:100%;
    height:0.75rem;
    background-color:var(--Blue-950);
    position:relative;
    border-radius:4rem;
}
.progress-labels{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.percentage-fill{
    background: linear-gradient(to right, var(--Gradient));    
    width:81.5%;
    height:100%;
    position:relative;
  border-radius:4rem;
}
.percentage-fill:after{
    content:"";
    position:absolute;
    right:0.2rem;
    top:50%;
    transform:translateY(-50%);
    width:0.6rem;
    height:0.6rem;
    background-color:var(--White);
    border-radius:50%;
}
@media (max-width:50rem){
    .fylo{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    body{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        }
    .storage-card{
       
        width:24rem;
        position:relative;
    }
    .storage-remaining{
        position:absolute;
        bottom:-2.5rem;
        top:auto;
       left:50%;
       right:auto;
       left:auto;
       z-index:1;
       border-radius:0.5rem;
    }
    .arrow{
        display:none;
    }
}
